In [1]:
import os
import sys
import geopandas
import pandas as pd
import numpy as np
#from pyproj import CRS
try:
    from osgeo import ogr, osr, gdal
except:
    sys.exit('ERROR: cannot find GDAL/OGR modules')

In [2]:
path_dir = '/home/philipp/Data/edin_diss/GIS_wo/nutz'
#file_name = 'wo_2020_{}_{}_change.shp'.format(fb,fr)

In [3]:
'''
fb = 179
frs = [6,7,8,9,10]

wo_geo_list = []

for fr in frs:
    # get fb
    path_file = os.path.join(path_dir,'wo_2020_{}_{}.shp'.format(fb,fr))

    print(path_file)

    # read dat from file
    wo_geo_list.append(geopandas.read_file(path_file))
    
wo_geo = geopandas.GeoDataFrame(pd.concat(wo_geo_list, ignore_index=True))
'''

"\nfb = 179\nfrs = [6,7,8,9,10]\n\nwo_geo_list = []\n\nfor fr in frs:\n    # get fb\n    path_file = os.path.join(path_dir,'wo_2020_{}_{}.shp'.format(fb,fr))\n\n    print(path_file)\n\n    # read dat from file\n    wo_geo_list.append(geopandas.read_file(path_file))\n"

In [7]:
fb = 173
frs = [6,7,8,9]

path_shp = "/home/philipp/Data/edin_diss/GIS_wo/wo_2020_nutz.shp"
wo_geo = geopandas.read_file(path_shp)

wo_geo['fb'] = wo_geo['fb'].astype(np.uint8)
wo_geo['fr'] = wo_geo['fr'].astype(np.uint8)
wo_geo['abt'] = wo_geo['abt'].astype(np.uint16)
wo_geo['uabt'] = wo_geo['uabt'].astype(str)
wo_geo['teilfl'] = wo_geo['teilfl'].astype(np.uint8)

wo_geo['admin'] = wo_geo['admin'].astype(np.uint16)
wo_geo['length'] = wo_geo['length'].astype(np.float32)
wo_geo['area'] = wo_geo['area'].astype(np.float32)
wo_geo['fly_date'] = wo_geo['fly_date'].astype(str)
wo_geo['year_fly'] = wo_geo['year_fly'].astype(np.uint16)

wo_geo['WO'] = wo_geo['WO'].astype(str)

wo_geo['fb_sap'] = wo_geo['fb_sap'].astype(np.uint8)
wo_geo['fr_sap'] = wo_geo['fr_sap'].astype(np.uint8)
wo_geo['abt_sap'] = wo_geo['abt_sap'].astype(np.uint16)
wo_geo['uabt_sap'] = wo_geo['uabt_sap'].astype(str)
wo_geo['teilfl_sap'] = wo_geo['teilfl_sap'].astype(np.uint8)

wo_geo['start_term'] = wo_geo['start_term'].astype(str)
wo_geo['uz'] = wo_geo['uz'].astype(np.uint8)
wo_geo['non_forest'] = wo_geo['non_forest'].astype(np.uint8)
wo_geo['economy'] = wo_geo['economy'].astype(str)
wo_geo['ww_sw'] = wo_geo['ww_sw'].astype(str)
wo_geo['sw_type'] = wo_geo['sw_type'].astype(str)
wo_geo['sea_level'] = wo_geo['sea_level'].astype(np.uint16)
wo_geo['exp'] = wo_geo['exp'].astype(str)
wo_geo['slope'] = wo_geo['slope'].astype(np.uint8)
wo_geo['site_type'] = wo_geo['site_type'].astype(np.uint8)
wo_geo['veg_type'] = wo_geo['veg_type'].astype(str)
wo_geo['growth_are'] = wo_geo['growth_are'].astype(str)

wo_geo['age'] = wo_geo['age'].astype(np.uint16)
wo_geo['BL'] = wo_geo['BL'].astype(np.uint8)
wo_geo['FI'] = wo_geo['FI'].astype(np.uint8)
wo_geo['LH'] = wo_geo['LH'].astype(np.uint8)
wo_geo['NH'] = wo_geo['NH'].astype(np.uint8)
wo_geo['LA'] = wo_geo['LA'].astype(np.uint8)
wo_geo['KI'] = wo_geo['KI'].astype(np.uint8)
wo_geo['DG'] = wo_geo['DG'].astype(np.uint8)
wo_geo['SK'] = wo_geo['SK'].astype(np.uint8)

wo_geo['mass_ha'] = wo_geo['mass_ha'].astype(np.float32)
wo_geo['mass_ha_lh'] = wo_geo['mass_ha_lh'].astype(np.float32)
wo_geo['mass_ha_nh'] = wo_geo['mass_ha_nh'].astype(np.float32)
wo_geo['mass_tot'] = wo_geo['mass_tot'].astype(np.float32)
wo_geo['mass_tot_l'] = wo_geo['mass_tot_l'].astype(np.float32)
wo_geo['mass_tot_n'] = wo_geo['mass_tot_n'].astype(np.float32)

wo_geo['cut_area'] = wo_geo['cut_area'].astype(np.float32)
wo_geo['cut_lh'] = wo_geo['cut_lh'].astype(np.float32)
wo_geo['cut_nh'] = wo_geo['cut_nh'].astype(np.float32)
wo_geo['cut_sum'] = wo_geo['cut_sum'].astype(np.float32)

wo_geo['dr'] = wo_geo['dr'].astype(np.uint8)
wo_geo['bp'] = wo_geo['bp'].astype(np.uint8)
wo_geo['zp'] = wo_geo['zp'].astype(np.uint8)
wo_geo['ru'] = wo_geo['ru'].astype(np.uint8)
wo_geo['sg'] = wo_geo['sg'].astype(np.uint8)
wo_geo['ma'] = wo_geo['ma'].astype(str)
wo_geo['year_fe'] = wo_geo['year_fe'].astype(np.uint16)

wo_geo['age_diff'] = wo_geo['age_diff'].astype(np.uint8)
wo_geo['fly_y'] = wo_geo['fly_y'].astype(np.uint16)
wo_geo['fly_m'] = wo_geo['fly_m'].astype(np.uint8)
wo_geo['fly_d'] = wo_geo['fly_d'].astype(np.uint8)

wo_geo['cut_ma'] = wo_geo['year_fe'].astype(str)
wo_geo['cut_v_lh'] = wo_geo['cut_v_lh'].astype(np.uint16)
wo_geo['cut_v_nh'] = wo_geo['cut_v_nh'].astype(np.uint16)
wo_geo['cut_v_nan'] = wo_geo['cut_v_nan'].astype(np.uint16)
wo_geo['cut_v_tot'] = wo_geo['cut_v_tot'].astype(np.uint16)

# filter data
wo_geo = wo_geo.loc[(wo_geo['fb']==fb) & (wo_geo['fr'].isin(frs)), :]

In [8]:
wo_geo.head()

,fb,fr,abt,uabt,teilfl,admin,length,area,fly_date,year_fly,...,age_diff,fly_y,fly_m,fly_d,cut_ma,cut_v_lh,cut_v_nh,cut_v_nan,cut_v_tot,geometry
310761,173,6,122,3,1,604,1286.813599,6356.668945,08.08.2017,2017,...,0,2017,8,8,2017,0,0,0,0,"POLYGON ((561007.929 428106.430, 561017.094 42..."
310762,173,6,122,8,1,604,109.856964,430.866272,08.08.2017,2017,...,0,2017,8,8,2017,0,0,0,0,"POLYGON ((561437.560 427918.005, 561436.000 42..."
310763,173,6,122,8,1,604,117.397163,773.459534,08.08.2017,2017,...,0,2017,8,8,2017,0,0,0,0,"POLYGON ((561436.690 428010.115, 561432.840 42..."
310764,173,6,122,9,1,604,230.075043,2013.067139,08.08.2017,2017,...,0,2017,8,8,2017,0,0,0,0,"POLYGON ((561433.530 428728.135, 561428.603 42..."
310765,173,6,122,9,2,604,282.932617,4219.614746,08.08.2017,2017,...,0,2017,8,8,2017,0,0,0,0,"POLYGON ((561494.740 428736.715, 561494.290 42..."

In [9]:
wo_geo.shape

(15450, 64)

In [10]:
# set all WO with BL to volume 0
wo_geo.loc[(wo_geo['BL']>1) & (wo_geo['mass_ha']>50), ['mass_ha', 'mass_ha_lh', 'mass_ha_nh', 'mass_tot', 'mass_tot_l',
       'mass_tot_n']] = 0

In [11]:
# filter abt 65535
wo_geo = wo_geo.loc[wo_geo['abt'] != 65535]

In [12]:
wo_geo.loc[(wo_geo['BL']>1) & (wo_geo['mass_ha']>0)]

,fb,fr,abt,uabt,teilfl,admin,length,area,fly_date,year_fly,...,age_diff,fly_y,fly_m,fly_d,cut_ma,cut_v_lh,cut_v_nh,cut_v_nan,cut_v_tot,geometry
312793,173,6,172,B,2,604,476.464233,7787.429688,08.08.2017,2017,...,0,2017,8,8,2017,0,0,0,0,"POLYGON ((571522.598 428297.980, 571518.504 42..."
312794,173,6,172,B,2,604,580.460144,17097.730469,08.08.2017,2017,...,0,2017,8,8,2017,0,0,0,0,"POLYGON ((571809.378 428352.210, 571825.590 42..."
312795,173,6,172,B,2,604,232.013260,2820.260742,08.08.2017,2017,...,0,2017,8,8,2017,0,0,0,0,"POLYGON ((571972.867 428156.666, 571974.190 42..."
312796,173,6,172,B,2,604,444.220734,6879.479492,08.08.2017,2017,...,0,2017,8,8,2017,0,0,0,0,"POLYGON ((571661.056 428313.864, 571656.155 42..."
312797,173,6,172,B,2,604,299.509705,4237.936035,08.08.2017,2017,...,0,2017,8,8,2017,0,0,0,0,"POLYGON ((571717.991 428400.844, 571716.667 42..."
317880,173,7,103,A,0,605,762.347839,19876.871094,08.08.2017,2017,...,0,2017,8,8,2017,0,0,0,0,"POLYGON ((558510.590 425056.885, 558559.440 42..."
318509,173,8,221,M,2,615,403.751343,8070.162598,08.08.2017,2017,...,255,2017,8,8,2018,0,0,0,0,"POLYGON ((563261.010 422615.945, 563263.460 42..."
319836,173,8,248,B,3,615,326.326416,3964.330811,08.08.2017,2017,...,255,2017,8,8,2018,0,0,0,0,"POLYGON ((566075.999 427291.746, 566093.990 42..."
319837,173,8,248,B,3,615,782.429626,17005.771484,08.08.2017,2017,...,255,2017,8,8,2018,0,0,0,0,"POLYGON ((565672.810 427330.685, 565690.280 42..."
320173,173,8,255,Q,2,615,773.368591,22305.660156,08.08.2017,2017,...,255,2017,8,8,2018,0,0,0,0,"POLYGON ((566860.767 423481.562, 566862.037 42..."
320247,173,8,256,S,2,615,210.358719,1628.786377,08.08.2017,2017,...,255,2017,8,8,2018,0,0,0,0,"POLYGON ((566357.240 422249.455, 566349.845 42..."
320248,173,8,256,S,2,615,123.152954,989.604553,08.08.2017,2017,...,255,2017,8,8,2018,0,0,0,0,"POLYGON ((566296.896 422345.281, 566283.714 42..."
320249,173,8,256,S,2,615,178.955215,1753.322510,08.08.2017,2017,...,255,2017,8,8,2018,0,0,0,0,"POLYGON ((566309.378 422405.784, 566287.654 42..."
320479,173,8,262,U,2,615,166.596329,1281.671143,08.08.2017,2017,...,255,2017,8,8,2018,0,0,0,0,"POLYGON ((567860.091 422308.115, 567858.398 42..."
320681,173,8,268,A,5,615,312.848236,2763.387451,08.08.2017,2017,...,255,2017,8,8,2018,0,0,0,0,"POLYGON ((567551.579 420310.648, 567552.035 42..."
321897,173,8,442,E,2,615,151.976898,1376.603394,08.08.2017,2017,...,255,2017,8,8,2018,0,0,0,0,"POLYGON ((570928.130 422698.775, 570900.368 42..."
321898,173,8,442,E,2,615,142.674591,1242.705200,08.08.2017,2017,...,255,2017,8,8,2018,0,0,0,0,"POLYGON ((570881.860 422663.365, 570859.211 42..."
321899,173,8,442,E,2,615,480.814606,12149.557617,08.08.2017,2017,...,255,2017,8,8,2018,0,0,0,0,"POLYGON ((570801.880 422755.605, 570792.343 42..."
322521,173,8,454,L,3,615,254.196487,1712.571411,08.08.2017,2017,...,255,2017,8,8,2018,0,0,0,0,"POLYGON ((572728.916 421927.593, 572728.949 42..."
322522,173,8,454,L,3,615,149.737640,1309.704102,08.08.2017,2017,...,255,2017,8,8,2018,0,0,0,0,"POLYGON ((572517.387 421863.562, 572483.555 42..."

In [13]:
wo_geo['BL'].unique()

array([  0, 100,  70,  80,  60,  22,  90,  45,  30,  20,  40], dtype=uint8)

In [14]:
wo_geo.columns

Index(['fb', 'fr', 'abt', 'uabt', 'teilfl', 'admin', 'length', 'area',
       'fly_date', 'year_fly', 'WO', 'fb_sap', 'fr_sap', 'abt_sap', 'uabt_sap',
       'teilfl_sap', 'start_term', 'uz', 'non_forest', 'economy', 'ww_sw',
       'sw_type', 'sea_level', 'exp', 'slope', 'site_type', 'veg_type',
       'growth_are', 'age', 'BL', 'FI', 'LH', 'NH', 'LA', 'KI', 'DG', 'SK',
       'mass_ha', 'mass_ha_lh', 'mass_ha_nh', 'mass_tot', 'mass_tot_l',
       'mass_tot_n', 'cut_area', 'cut_lh', 'cut_nh', 'cut_sum', 'dr', 'bp',
       'zp', 'ru', 'sg', 'ma', 'year_fe', 'age_diff', 'fly_y', 'fly_m',
       'fly_d', 'cut_ma', 'cut_v_lh', 'cut_v_nh', 'cut_v_nan', 'cut_v_tot',
       'geometry'],
      dtype='object')

In [15]:
# conditions 1 = BL, 2 = LH, 3 = NH, 4 = rest
conditions = [
    (wo_geo['non_forest'] == 1) | (wo_geo['non_forest'] == 2) | \
    (wo_geo['non_forest'] == 3) | (wo_geo['non_forest'] == 6) | \
    (wo_geo['non_forest'] == 7) | (wo_geo['non_forest'] == 8) | \
    (wo_geo['non_forest'] == 9),
    ((wo_geo['age'] > 10) & (wo_geo['dr'] == 1)),# | (wo_geo['age'] > 10) & (wo_geo['dr'] == 2)) | ((wo_geo['age'] > 10) & (wo_geo['dr'] > 3)), 
    ((wo_geo['age'] > 10) & (wo_geo['dr'] == 2)) | ((wo_geo['age'] > 10) & (wo_geo['dr'] > 3)),
    (wo_geo['age'] <= 10) | (wo_geo['dr'] == 0) | (wo_geo['dr'] == 3) | (wo_geo['non_forest'] == 4) | (wo_geo['non_forest'] == 5),]

choices = [4, 1, 2, 3]

wo_geo['typ'] = np.select(conditions, choices, default=0)

In [16]:
wo_geo['typ'] = wo_geo['typ'].astype(int)

In [17]:
wo_geo

,fb,fr,abt,uabt,teilfl,admin,length,area,fly_date,year_fly,...,fly_y,fly_m,fly_d,cut_ma,cut_v_lh,cut_v_nh,cut_v_nan,cut_v_tot,geometry,typ
310761,173,6,122,3,1,604,1286.813599,6356.668945,08.08.2017,2017,...,2017,8,8,2017,0,0,0,0,"POLYGON ((561007.929 428106.430, 561017.094 42...",4
310762,173,6,122,8,1,604,109.856964,430.866272,08.08.2017,2017,...,2017,8,8,2017,0,0,0,0,"POLYGON ((561437.560 427918.005, 561436.000 42...",4
310763,173,6,122,8,1,604,117.397163,773.459534,08.08.2017,2017,...,2017,8,8,2017,0,0,0,0,"POLYGON ((561436.690 428010.115, 561432.840 42...",4
310764,173,6,122,9,1,604,230.075043,2013.067139,08.08.2017,2017,...,2017,8,8,2017,0,0,0,0,"POLYGON ((561433.530 428728.135, 561428.603 42...",4
310765,173,6,122,9,2,604,282.932617,4219.614746,08.08.2017,2017,...,2017,8,8,2017,0,0,0,0,"POLYGON ((561494.740 428736.715, 561494.290 42...",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326206,173,9,423,D,5,616,806.789978,27414.384766,08.08.2017,2017,...,2017,8,8,2018,0,0,0,0,"POLYGON ((585261.690 419518.845, 585237.870 41...",3
326207,173,9,423,D,6,616,507.736511,8919.435547,08.08.2017,2017,...,2017,8,8,2018,0,0,0,0,"POLYGON ((585438.130 419573.905, 585415.307 41...",3
326208,173,9,423,E,1,616,440.250916,7684.912109,08.08.2017,2017,...,2017,8,8,2018,0,0,0,0,"POLYGON ((585605.756 419820.516, 585599.769 41...",3
326209,173,9,423,E,2,616,724.392090,28364.345703,08.08.2017,2017,...,2017,8,8,2018,0,0,0,0,"POLYGON ((585584.826 419955.407, 585585.022 41...",3
326210,173,9,423,E,3,616,759.220154,22084.923828,08.08.2017,2017,...,2017,8,8,2018,0,0,0,0,"POLYGON ((585405.259 419867.062, 585365.566 41...",3

In [18]:
# save to file
wo_geo.to_file("/home/philipp/Data/edin_diss/GIS_ground_truth/df_2020_0/gis_df_wwie_2020_{}.shp".format(fb))

In [6]:
# create geo-dataframe
wo_typ = wo_geo[['typ', 'geometry']]

In [7]:
# save to file
wo_typ.to_file("/home/philipp/Data/edin_diss/GIS_ground_truth/df_2020_2/gis_df_wwie_2020_typ_{}_adjusted.shp".format(fb))