In [9]:
import geopandas

In [10]:
# calculate weights

In [11]:
stats = geopandas.read_file('/home/philipp/Data/edin_diss/GIS_ground_truth/df_2020_2/gis_df_wwie_2020_177.shp')

In [12]:
stats.columns

Index(['fb', 'fr', 'abt', 'uabt', 'teilfl', 'admin', 'length', 'area',
       'fly_date', 'year_fly', 'WO', 'fb_sap', 'fr_sap', 'abt_sap', 'uabt_sap',
       'teilfl_sap', 'start_term', 'uz', 'non_forest', 'economy', 'ww_sw',
       'sw_type', 'sea_level', 'exp', 'slope', 'site_type', 'veg_type',
       'growth_are', 'age', 'BL', 'FI', 'LH', 'NH', 'LA', 'KI', 'DG', 'SK',
       'mass_ha', 'mass_ha_lh', 'mass_ha_nh', 'mass_tot', 'mass_tot_l',
       'mass_tot_n', 'cut_area', 'cut_lh', 'cut_nh', 'cut_sum', 'dr', 'bp',
       'zp', 'ru', 'sg', 'ma', 'year_fe', 'age_diff', 'fly_y', 'fly_m',
       'fly_d', 'cut_ma', 'cut_v_lh', 'cut_v_nh', 'cut_v_nan', 'cut_v_tot',
       'typ', 'geometry'],
      dtype='object')

In [13]:
stats = stats[stats['ww_sw']=='W']

In [14]:
stats = stats[['typ', 'area', 'geometry']]

In [15]:
stats

       typ          area                                           geometry
0        2  17171.469012  POLYGON ((448743.510 361073.725, 448760.100 36...
1        2  15887.334816  POLYGON ((448527.110 361004.735, 448537.420 36...
2        2  24672.718591  POLYGON ((448616.450 361013.175, 448639.260 36...
23       2  14071.357927  POLYGON ((448935.506 359812.860, 448940.098 35...
24       2   1866.074916  POLYGON ((448690.458 359869.425, 448701.328 35...
...    ...           ...                                                ...
14220    2   4269.239334  POLYGON ((421030.108 356125.818, 421027.113 35...
14221    2    839.592059  POLYGON ((421183.505 356181.671, 421170.919 35...
14222    2   1891.298439  POLYGON ((421172.934 356218.341, 421152.754 35...
14223    1  21240.704315  POLYGON ((421169.544 356238.927, 421154.268 35...
14224    1   5965.513124  POLYGON ((421337.526 356509.873, 421346.406 35...

[9026 rows x 3 columns]

In [16]:
x = stats.groupby(['typ']).sum()
x['percent'] = x['area'] / x['area'].sum()

In [17]:
x

             area   percent
typ
1    2.371672e+07  0.253399
2    6.987781e+07  0.746601